.about-content {
  margin: 0% 8%;
}
.about-infos {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 85%;

    .dropdown_bar {
      width: 98%;
    }

    .dropdown_content {
      width: 95%;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-infos {
    .dropdown {
      width: 100%;

      .dropdown_bar {
        width: 95%;
      }
    }
  }
}
