.about-infos {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .dropdown_bar {
    width: 70%;
  }

  .dropdown_content {
    width: 68%;
  }
}
