.home-gallery {
  margin: 3% 8%;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
  border-radius: 20px;
}
.card {
  position: relative;

  img {
    object-fit: cover;
    width: 320px;
    height: 320px;
    border-radius: 5px;
  }

  h3 {
    width: 40%;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 20px;
  }
}
